.DS_Store

*/
/*
!.gitignore

!.bash_profile
!.bashrc
!.bashrc.alias
!.bashrc.prompt
!.eslintrc*
!.gitconfig
!.npmrc
!.slackrc
!.tmux.conf
!.vimrc
!.zshrc
!package.json
!package-lock.json
!README.md
!.aws/
!.dlv/
!Public**/**