# ignore all folders
*/

# ignore all files
/*

# include all ignore files in lower directories
!.gitignore

# include these directories
!.aws/
!.dlv/
!.gnupg/
!Public**/**

# include bash configs
!.bash.scripts
!.bash_profile
!.bashrc
!.bashrc.alias
!.bashrc.linux
!.bashrc.mac
!.bashrc.prompt

!.eslintrc*
!.gitconfig
!.iterm
!.npmrc
!.profile.prompt
!.slackrc
!.tmux.conf
!.vimrc

# include zsh configs
!.zlogin
!.zlogout
!.zprofile
!.zprofile
!.zsh.prompt
!.zshenv
!.zshrc
!.zshrc

!Brewfile
!macos-terminal-profiles
!Makefile
!package-lock.json
!package.json
!README.md
!setup-mac.sh
!setup.sh
!vscode-extensions.list
!vscode-settings.json
