
*/
/*
!.gitignore
.DS_Store

!.bash_profile
!.bashrc
!.bashrc.alias
!.bashrc.linux
!.bashrc.mac
!.bashrc.prompt
!.eslintrc*
!.gitconfig
!.iterm
!.npmrc
!.profile.prompt
!.slackrc
!.tmux.conf
!.vimrc
!.zshrc
!Makefile
!package.json
!package-lock.json
!Brewfile
!README.md
!setup.sh
!setup-mac.sh
!.aws/
!.dlv/
!.gnupg/
!Public**/**
!macos-terminal-settings.terminal
!vscode-extensions.list
