browser=chrome
engine-strict=true
init-author-name=Maya Vera
init-author-email=maya@mayavera.me
init-author-url=https://mayavera.me/
init-license=UNLICENSED
init-version=0.1.0
no-update-notifier=true
