browser=chrome
init-author-name=Maya Vera
init-author-email=maya@mayavera.me
init-author-url=https://mayavera.me/
init-license=UNLICENSED
init-version=0.1.0
no-update-notifier=true
//registry.npmjs.org/:_authToken=1037c658-cc72-44ea-b0df-c2c093a604e7
